/* * {
    margin: 0;
    padding: 0;
  } */

#grid-container {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}